[Unit]
Description=Wonnaway service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /root/wonnaway/main.py
[Install]
WantedBy=multi-user.target